flows.json
[{"id":"9feb0898.0136b8","type":"tab","label":"Hackaton","disabled":false,"info":""},{"id":"1f07caa5.5fb895","type":"function","z":"9feb0898.0136b8","name":"Azure","func":"var newmsg={\n payload:{ \n device: {\n deviceId: \"my-cloud-device\"\n },\n measurements: {\n Temperature: msg.payload.temperature,\n Pressure:msg.payload.pressure,\n Voltage:msg.payload.voltage,\n WindSpeed:msg.payload.windSpeed,\n WindDir:msg.payload.windDir,\n GNSSdatavalid:true,\n location:{\n lat:msg.payload.lat,\n lon:msg.payload.lon\n }\n }\n }\n}\nreturn newmsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":160,"wires":[["28995df2.5274c2","fe066319.1b12f"]],"info":"object\nvoltage: 12.310345\ntemperature: -4.83\npressure: 746.2\nwindSpeed: 2\nwindDir: 0\nlon: 56.307729\nlat: 39.009213\n\n"},{"id":"2ab49b55.857d84","type":"json","z":"9feb0898.0136b8","name":"","property":"payload","action":"","pretty":false,"x":450,"y":160,"wires":[["1f07caa5.5fb895"]]},{"id":"fa90299e.4c3548","type":"http request","z":"9feb0898.0136b8","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":910,"y":160,"wires":[["68a8239a.128b1c"]]},{"id":"28995df2.5274c2","type":"json","z":"9feb0898.0136b8","name":"","property":"payload","action":"str","pretty":false,"x":730,"y":160,"wires":[[]]},{"id":"5a138b10.db1954","type":"mqtt in","z":"9feb0898.0136b8","name":"","topic":"/Hackaton","qos":"2","datatype":"auto","broker":"591ff069.680eb","x":260,"y":160,"wires":[["2ab49b55.857d84"]]},{"id":"fe066319.1b12f","type":"debug","z":"9feb0898.0136b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":750,"y":100,"wires":[]},{"id":"68a8239a.128b1c","type":"debug","z":"9feb0898.0136b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":890,"y":260,"wires":[]},{"id":"591ff069.680eb","type":"mqtt-broker","name":"Hackaton MQTT","broker":"77.232.23.16","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]